html, body {
  margin: 0 ;
  /* background: rgb(13, 20, 27); */
  background: rgb(20, 17, 17);

}

*{
  box-sizing: border-box;
}

#content {
  transition: margin-left .5s;
  margin: 10px;
  /* border: 1px solid yellow; */
}

.bulletBox { 
  width: 100%;
}

#myCanvas {  
  width: 100%; 
  height: 510px;
  overflow: auto;
}

.tool-div{
  width: 100%;
  margin: 0;
}

#back-btn{
  font-size: 28px;
  cursor:pointer;
  color: white;
  visibility: hidden;
  padding-left: 10px;
}

#clear-btn{
  font-size: 30px;
  cursor:pointer;
  color: white;
  visibility: hidden;
  float: right;
}

#undo-btn{
  margin-right: 48%;
  font-size: 30px;
  cursor:pointer;
  color: white;
  visibility: hidden;
  margin-left: 30px;
  float: right;
}

#redo-btn{
  font-size: 30px;
  cursor:pointer;
  color: white;
  visibility: hidden;
  margin-right: 30px;
  float: right;
}

.stats{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
}


.customMood {
  display: none; /* Hidden by default
 */   position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  text-align: center;

}
.pop-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  width: 50%;
  /* border-radius: 10px;   */
  font-size: 20px;
}
.dot {
  height: 35px;
  width: 35px;
  margin-left: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  
}
#inputMood{
  width: 250px;
  height: 30px;

}

#save-btn{
  display: block;
  margin:  20px auto;
  /* width: 80px;
  height: 30px; */
  padding: 8px 40px;
  background-color: rgb(45, 150, 101);
  color: white;
  text-align: center;
  border: none;
  font-size: 18px;  
  border-radius: 2px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.paper-controls button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 17px;  
  min-width: 150px;
  border: none;
  cursor: pointer;
  display: block;
}

.inputBox{
  position: relative;
  display: inline;
  margin-left: 40%;
  visibility: hidden;
}

.userInput{
  border-radius: 15px;
  border: 2px solid yellow;
  height: 25px;
  width: 250px; 
  font-size: 18px;
  text-align: center;
  
}

.plus-div{
  float: right;
  margin: 0px auto;
}

#addPaper-btn{
  width:  30px;
  height: 30px;
}

.dropdown-content button{
  background-color: #4C1450;
  border-bottom: 1px yellow solid;
}

.dropdown {
  /* margin-left: 15px;0 */
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#util-hidden-div{
  width: 0;
  height: 0;
  visibility: hidden; 
}
