html, body {
  height: 100%;
  margin: 0 ;
  background: black;
}


.side-nav{
  padding-top: 100px;
  position: fixed;
  /* z-index: 1; */
  height: 100%;
  width: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  top: 0;
  left: 0;
  transition: 0.5s;
  /* border-style: ; */
  border-right: 0.5px yellow;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

#content {
  transition: margin-left .5s;
  padding: 16px;
}

.header-img {
  position:sticky;
  width:100%; 
  top: 0;
  z-index: 1;   
}

.header-img img{
  width:100%; 
}

#myCanvas {  
  width: 100%; 
  height: 800px;
  border: 1px solid yellow;
  background-color: black;
}

.bulletBox { 
  margin: 60px 50px 30px 50px ;
  width: 95%;
}

.paper-controls button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 18px;
  min-width: 160px;
  border: none;
  cursor: pointer;
  display: block;
}

#addPaper-btn{
  width:  55px;
  height: 55px;
}

.inputBox{
  position: relative;
  display: inline;
  margin-left: 40%;
  visibility: hidden;
}
.userInput{
  border-radius: 15px;
  border: 2px solid yellow;
  height: 25px;
  width: 250px; 
  font-size: 18px;
  text-align: center;
  
}
.plus-div{
  float: right;
  margin: 0px 30px auto;
}

.dropdown-content button{
  background-color: #4C1450;
  border-bottom: 1px white solid;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-left: 20px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#util-hidden-div{
  width: 0;
  height: 0;
  visibility: hidden; 
}

.tool-dix{
  width: 100%;
  margin: auto;
  
}
#back-btn{
  font-size: 28px;
  cursor:pointer;
  color: white;
  visibility: hidden;
}

#clear-btn{
  font-size: 30px;
  cursor:pointer;
  color: white;
  visibility: hidden;
  float: right;
}

#undo-btn{
  margin-right: 48%;
  font-size: 30px;
  cursor:pointer;
  color: white;
  visibility: hidden;
  margin-left: 30px;
  float: right;
}

#redo-btn{
  font-size: 30px;
  cursor:pointer;
  color: white;
  visibility: hidden;
  margin-right: 30px;
  float: right;
}
